body {
  position: relative;
  width: 400px;
  height: 640px;
}

#root, #app {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#app:empty {
  display: none;
}

body:has(#app:not(:empty)) #root {
  display: none;
}